@import "tailwindcss";

@theme inline {
  --color-outline: #6f7880;
  --color-on-tertiary-fixed: #2a1800;
  --color-inverse-primary: #87ceff;
  --color-on-surface-variant: #3f484f;
  --color-secondary-fixed: #c8e6ff;
  --color-on-primary-fixed-variant: #004c6d;
  --color-surface-container: #ebeef2;
  --color-error-container: #ffdad6;
  --color-surface-bright: #f7f9fe;
  --color-secondary-fixed-dim: #accae2;
  --color-tertiary: #845400;
  --color-tertiary-fixed: #ffddb5;
  --color-secondary: #456276;
  --color-outline-variant: #bfc7d0;
  --color-on-tertiary-fixed-variant: #643f00;
  --color-on-secondary-fixed: #001e2e;
  --color-on-background: #181c1f;
  --color-on-primary-fixed: #001e2e;
  --color-tertiary-container: #c78828;
  --color-tertiary-fixed-dim: #ffb958;
  --color-surface-tint: #00658f;
  --color-on-tertiary-container: #422800;
  --color-on-tertiary: #ffffff;
  --color-surface-dim: #d7dadf;
  --color-on-secondary: #ffffff;
  --color-on-primary: #ffffff;
  --color-primary-fixed: #c8e6ff;
  --color-inverse-on-surface: #eef1f5;
  --color-error: #ba1a1a;
  --color-on-error-container: #93000a;
  --color-background: #f7f9fe;
  --color-on-secondary-fixed-variant: #2d4a5d;
  --color-surface-container-low: #f1f4f8;
  --color-surface: #f7f9fe;
  --color-surface-container-highest: #e0e3e7;
  --color-secondary-container: #c8e6ff;
  --color-on-secondary-container: #4b687c;
  --color-on-surface: #181c1f;
  --color-surface-container-lowest: #ffffff;
  --color-primary-fixed-dim: #87ceff;
  --color-on-error: #ffffff;
  --color-primary: #00658f;
  --color-inverse-surface: #2d3134;
  --color-surface-variant: #e0e3e7;
  --color-surface-container-high: #e5e8ed;
  --color-primary-container: #449dd1;
  --color-on-primary-container: #003148;

  --font-manrope: var(--font-manrope);
  --font-headline: var(--font-manrope);
  --font-body: var(--font-manrope);
  --font-label: var(--font-manrope);
  --font-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-on-background);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
}
